@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Montserrat");

@layer base {
  :root {
    --color-text-base: #0c0221;
    --color-text-muted: #383453;    
    --color-text-inverted: #c6bdff;
    --color-text-error: #DC2626;


    --color-stroke-base: #0c0221;
    --color-stroke-inverted: #c6bdff;

    --color-fill: #c6bdff;
    --color-fill-inverted: #0c0221;

    --color-button-accent: #0c0221;
    --color-button-accent-hover: #584ca3;
    --color-button-muted: #555555;
    --color-button-inverted-hover: #7E5EFC;

    --color-border-base: #0c0221;
    --color-border-inverted: #c6bdff;
    --color-border-error: #DC2626;
  }

  .theme-swiss {
    --color-text-base: #ffffff;
    --color-text-muted: #fecaca;
    --color-text-inverted: #dc2626;
    --color-fill: #b91c1c;
    --color-button-accent: #ffffff;
    --color-button-accent-hover: #fef2f2;
    --color-button-muted: #ef4444;
    --color-border-base: #0c0221;
  }

  .theme-neon {
    --color-text-base: #111802;
    --color-text-muted: #2f4306;
    --color-text-inverted: #ebfacc;
    --color-fill: #b3ff17;
    --color-button-accent: #243403;
    --color-button-accent-hover: #374f05;
    --color-button-muted: #d4ff7a;
  }

  .theme-blue {
    --color-text-base: #ffffff;
    --color-text-muted: #c7d2fe;
    --color-text-inverted: #4f46e5;
    --color-fill: #4338ca;
    --color-button-accent: #ffffff;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: #6366f1;
  }

  .dark {
  }
  .light {
  }
}
